# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# OS
.DS_Store